#head{
	background-color:red;
}
/*.table,#thead,#trow,#tbody{
	margin-top: 10px;
	background-color: #00ffca;
}*/
.colors{
	background-color: #000000;
}
.row{
	background-color: #00ffac;
}
.khaja{
	display: flex;
	justify-content: space-between;
	column-width: 10%;
}